body{

    background: linear-gradient(to right, #ff2b45 0%, #d66c40 2%, #244bdb 12%, #1a001a 50%, #190000 88%, #400000 95%, #ff9f6e 100%);

/* background-image: linear-gradient(
23deg,
hsl(49deg 100% 69%) 0%,
hsl(16deg 80% 61%) 2%,
hsl(330deg 81% 34%) 12%,
hsl(259deg 100% 15%) 50%,
hsl(212deg 100% 14%) 88%,
hsl(197deg 100% 30%) 95%,
hsl(183deg 79% 69%) 100%, */
/* ); */
height: 80vh;

}
.button{
border:none;
padding: 0.625em;
border-radius: 0.5em;
cursor: pointer;

}
.send-button{

    margin-top: 25px;


}
.chat-btn button{

 display:block; 
/* align-items: center; */

margin: 0 auto;


}
.button:hover{

    filter:brightness(1);
}
.button:active{
transform: translate(4px)

}
.person-selector{

    display: flex;
    justify-content: center;
    gap: 1em ;
    margin: 3em auto 1em;
    max-width: 40em;
}
.person-selector-button{

width: 100%;
background-color: #15202b;
color: #fff;
font-size: 1.1em;


}
.active-person{
background: #244bdb;
box-shadow: 0 0 0.5em 0.1 #c3c3c333;

}
.chat-container{
background: #15202b;
font-family: 'Roboto', sans-serif;
border-radius: 0.5em;
padding: 0.5em 1.25em;
margin: auto;
max-width: 37.5em;
height: 37.5em;
box-shadow: 0 0 1 1.25em 0.5em #c3c3c333;

}
.chat-header{

    margin-bottom: 1em;
    color: #fff;
}
.chat-header h2{
font-size: 1.25em;
font-weight: bold;


}
.chat-messages {
    height: 23em;
    overflow-y: scroll;

}
.chat-messages::-webkit-scrollbar{

    display: none;

}
.message{

  padding: 0.625em;
  border-radius: 1em; 
  margin-bottom: 0.625em;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.message-sender{

    font-weight: bold;
    margin-bottom: 0.31em;

}
.message-text{
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}
.message-timespace{
    font-size: 0.75em;
    text-align: right;

}
.blue-bg{
    background-color: #1c9bef;

}
.gray-bg{

    background-color: #3d5365;
}
.chat-input-form{
display: flex;
align-items: center;
margin-top: 2em;
width: 100%;
    padding: 10px;
    border-radius: 0.5em;
    margin-right: 10px;
    margin-left: -5px;

}

.chat-input{

    padding: 0.625em;
    width: 100%;
    border: none;
    border-radius: 0.5em;
    background-color: #f5f5f5;
    color: #333;
    font-size:1em ;
    flex-grow: 1;
}